@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Shalimar&display=swap');

  .__main {
    max-width: 100%;
    margin: auto;
    background-color: #fff;
    min-height: 80vh;
    width: 100%;
    padding: 20px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #282828;
    height: auto;
    background-color: #282828;
    font-family: 'Bakbak One', cursive;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6c84ff;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b5bfe;
  }

  