@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Shalimar&display=swap');
.font{
    font-size: 28px;
    
}

.navbar{
    background-color:#282828;
    font-family: 'Bakbak One', cursive;
    color: #05F5D5;
}

.navbar-dark .navbar-nav .nav-link {
    background-color:#282828;
    font-family: 'Bakbak One', cursive;
    font-weight:bolder;
    font-variant: normal;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #05F5D5;
    margin-left: 70px;

}

.collapse.show {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading{
    color: #05F5D5;
    font-size: 40px;
    justify-content: center;
    padding-left: 15px;
}
