@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Shalimar&display=swap');
.font{
    font-size: 30px;
    
}

.navbar{
    background-color:#282828;
    font-family: 'Bakbak One', cursive;
    color: #4664ff;
}

.navbar-dark .navbar-nav .nav-link {
    background-color:#282828;
    font-family: 'Bakbak One', cursive;
    font-weight:bolder;
    font-variant: normal;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #4664ff;
    margin-left: 50px;

}

.collapse.show {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading{
    color: #4664ff;
    font-size: 35px;
    justify-content: center;
    padding-left: 15px;
}